*{
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(img/gradientbackground.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

#menu .interact {
    margin-left: auto;
    display: flex;
}

#menu .interact a{
    text-decoration: none;
}

.aboutme h1, .works h1, .contact h1{
    margin-left: 5px;
}


.interact h1 {
    transition: 0.5s all;
    border-bottom: 2px solid transparent;
}

.interact h1:hover{
    transition: 0.5s all;
    border-bottom: 2px solid white;
}

#menu  {
    z-index: 1;
    backdrop-filter: blur(20px);
    user-select: none;
    display: flex;
    margin: 0% 1%;
    padding: 1%;
    gap: 25px;
    font-size: 0.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Quicksand", sans-serif;
    position: fixed;
    top: 0;
    width: 95%;
}

#menu .name {
    margin-left: 1%;
}

#menu ul {
    right: 0;
    position: absolute;
    margin: 0;
    display: inline-block;
    margin-right: 2%;
}

#menu li {
    display: inline-block;
}

#info {
    margin-left: 1%;
    user-select: none;
    padding-top: 5%;
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    position: relative;
}

#info .myposition {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

#info .aboutinfo {
    margin-top: -3%;
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    padding-right: 60%;
    padding-bottom: 30%;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.date {
    font-size: 35px;
    position: absolute;
    right: 12%;
    top: 15%;
}

#numero {
    font-size: 200px;
}

#mes {
    font-size: 35px;
}

.divisao {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

#about {
    transition: all 1.5s;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 15%;
    margin-top: 0%;
    padding-top: 100px;
    padding-bottom: 200px;
}

#about .aboutext {
    font-size: 27px;
    font-family: "Quicksand", sans-serif;
    padding-right: 60%;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

#picture .user {
    position: absolute;
    right: 15%;
    margin-top: -7%;
}


#picture .user h2 {
    margin: 0;
}

.user img {
    border: 3px solid #555;
    border-top: 0px solid transparent;
}

.img-container h2 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 16px;
    border: 3px solid #555;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: 0;
    width: 90%;
    padding: 12px;
    background-image: linear-gradient(#292929, #333); /* mesma cor do border-top */
}

#works {
    user-select: none;
    transition: all 1.5s;
}

#works .workstext{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#works .worksimages {
    display: flex;
    justify-content: center;
    gap: 5%;
}

#works .worksimages a {
    text-decoration: none;
    padding-bottom: 25px;
}

#works .worksimages p {
    margin: auto;
    font-weight: 350;
    transition: all 0.4s;
    color: rgb(174, 174, 174);
    padding: 15px 0px 15px 0px;
    border: 3px solid rgb(174, 174, 174);
    text-align: center;
    backdrop-filter: blur(10px);
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
    width: 70%;
}

#works .worksimages p:hover {
    transition: all 0.4s;
    border: 3px solid white;
    color: black;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    
}

#works img {
    border-radius: 10px;
}

#works a {
    filter: opacity(0.5);
    transition: 1s; 
}

#works a:hover {
    filter: opacity(1);
    transition: 1s; 
}

.knowledge-text1 {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}

.knowledge-icons1 img {
    width: 40px;
    height: 40px;
    border: none;
}

.knowledge-icons2 img {
    border: none;
    width: 40px;
    vertical-align: middle;
}

.knowledge-icons1 .html-icon, .css-icon {
    filter: invert(1);
}

.knowledge-text2 {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}


#contact {
    user-select: none;
    margin-top: 15%;
    font-family: "Bebas Neue", sans-serif;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition: all 1.5s;
}

#contact .contacttext h1 {
    padding-top: 5%;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 120px;
    
}

#contact .socials {
    display: flex;
    justify-content: center;
    gap: 5%;
}

#contact .socials a {
    font-size: 25px;
    text-decoration: none;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 350;
    transition: all 0.4s;
    color: rgb(174, 174, 174);
    padding: 15px 16px 10px 16px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(10px);
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 50%;
}

#contact .socials a:hover {
    transition: all 0.4s;
    color: white;
    filter: invert(1);
    border: 3px solid transparent;
}

#contact .socials img {
    width: 30px;
    height: 30px;
}

.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Gideon Roman", serif;
    padding-top: 1%;
    margin-bottom: -4%;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fade {
    animation: fadeIn 1s ease;
}


@media screen and (max-width: 1490px) {
    #works .worksimages {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1300px) {
    .img-container h2 {
        width: 276px;
    }

    #picture .user{
        position: relative;
        margin-left: 15%;
        display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #works .worksimages {
        align-items: center;
        flex-direction: column;
        transform: scale(1);
    }

    #about .aboutext {
        padding-right: 10%;
    }
}

@media screen and (max-width: 1000px) {
    #contact .socials a {
        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    #menu {
        font-size: 8px;
    }

    #info .aboutinfo {
        font-size: 10px;
    }

    .aboutext {
        font-size: 24px;
    }

    .date {
        margin-left: 0%;
        justify-content: center;
        position: relative;
        display: flex;
        border-bottom: none;
    }

    #info .aboutinfo{
        padding-right: 2%;
    }

    #about .aboutext {
        padding-right: 15%;
    }

    #about {
        margin-top: 5%;
    }

    .knowledge-icons1 img, .knowledge-icons2 img {
        border: none;
    }

    .occupation {
        display: none;
    }

    #info {
        font-size: 40px;
        text-align: center;
        margin-left: 5%;
    }

    #works .worksimages {
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {

    #info {
        margin-left: 0%;
        font-size: 2.2rem;
    }


    #contact .contacttext h1 {
        font-size: 80px;
    }

    #works .worksimages img {
        width: 320px;
        height: 190px;
    }

    #works .worksimages {
        flex-direction: column;
    }

    #works .workstext {
        margin-left: 10%;
    }
    
    .user img {
        border: 3px solid #555;
        border-top: 0px solid transparent;
    }

    .img-container h2 {
        font-family: 'Quicksand', 'sans-serif';
        font-size: 16px;
        border: 3px solid #555;
        border-bottom: 0px solid transparent;
        position: absolute;
        top: 0;
        width: 90%;
        padding: 12px;
        background-image: linear-gradient(#292929, #333); /* mesma cor do border-top */
    }


    #picture .user{
        position: relative;
        margin-left: 25%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .img-container h2 {
        width: 276px;
    }

    #about {
        padding-bottom: 180px;
    }

    #about {
        margin-top: 5%;
        margin-left: 5%;
    }

    #about .aboutext {
        padding: 0%;
    }

    #contact .socials a {
        font-size: 15px;
    }
}